.iconfont {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
button:focus {
  outline: none;
}
/*****************el-butto******************/
.el-button {
  color: #666;
  font-weight: 400;
  border-radius: 2px;
  border-color: #D6D9D9;
}
.el-button.btn-normal {
  padding: 7px 20px;
}
.el-button.is-plain:hover,
.el-button:hover {
  border-color: #999;
  color: #999;
}
.el-button.is-plain:focus,
.el-button:focus {
  border-color: #333;
  color: #333;
}
.el-button:hover,
.el-button:focus {
  background-color: #fff;
}
.el-button--success,
.el-button--primary {
  background-color: #34B7B9;
  border-color: #34B7B9;
  color: #fff;
}
.el-button--success:hover,
.el-button--primary:hover {
  background-color: #39CACC;
  border-color: #39CACC;
  color: #fff;
}
.el-button--success:focus,
.el-button--primary:focus {
  background-color: #2B9799;
  border-color: #2B9799;
  color: #fff;
}
.el-button--success.is-plain,
.el-button--primary.is-plain {
  border-color: #34B7B9;
  background: none;
  color: #34B7B9;
}
.el-button--success.is-plain:hover,
.el-button--primary.is-plain:hover {
  border-color: #39CACC;
  background: none;
  color: #39CACC;
}
.el-button--success.is-plain:focus,
.el-button--primary.is-plain:focus {
  border-color: #2B9799;
  background: none;
  color: #2B9799;
}
.el-button--success.is-plain.is-disabled,
.el-button--primary.is-plain.is-disabled {
  border-color: #DDD;
  background: none;
  color: #DDD;
}
.el-button--success.is-plain.is-disabled:hover,
.el-button--primary.is-plain.is-disabled:hover {
  border-color: #DDD;
  background: none;
  color: #DDD;
}
.el-button--success.is-plain.is-disabled:focus,
.el-button--primary.is-plain.is-disabled:focus {
  border-color: #DDD;
  background: none;
  color: #DDD;
}
.el-button--success.is-plain.is-disabled:active,
.el-button--primary.is-plain.is-disabled:active {
  border-color: #DDD;
  background: none;
  color: #DDD;
}
.el-button--success.is-disabled,
.el-button--primary.is-disabled {
  background-color: #DDD;
  border-color: #DDD;
  color: #fff;
}
.el-button--success.is-disabled:hover,
.el-button--primary.is-disabled:hover {
  background-color: #DDD;
  border-color: #DDD;
  color: #fff;
}
.el-button--success.is-disabled:focus,
.el-button--primary.is-disabled:focus {
  background-color: #DDD;
  border-color: #DDD;
  color: #fff;
}
.el-button--success.is-disabled:active,
.el-button--primary.is-disabled:active {
  background-color: #DDD;
  border-color: #DDD;
  color: #fff;
}
.el-button--text {
  font-weight: 500;
  color: #34B7B9;
  border: none;
}
.el-button--text:hover {
  color: #39CACC;
  background-color: rgba(255, 255, 255, 0);
}
.el-button--text:focus {
  color: #2B9799;
  background-color: rgba(255, 255, 255, 0);
}
.el-button--text.bg-green {
  padding-left: 20px;
  padding-right: 20px;
}
.el-button--text.bg-green:hover,
.el-button--text.bg-green:focus {
  background-color: #eff9fa;
}
.el-button--text.bg-green {
  padding-left: 20px;
  padding-right: 20px;
}
.el-button--text.bg-green:hover,
.el-button--text.bg-green:focus {
  background-color: #eff9fa;
}
.el-button--text.text-red {
  color: #F75234;
}
.el-button + .el-button.btn-whole-dashed {
  margin-left: 0 !important;
}
.btn-whole-dashed {
  width: 100%;
  padding: 8px;
  color: #666;
  border: 1px dashed #D6D9D9;
  border-radius: 2px;
}
.btn-whole-dashed:hover,
.btn-whole-dashed:focus {
  background: none;
}
/*****************el-input******************/
.el-input__inner {
  border: 1px solid #D6D9D9;
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #34B7B9;
}
.el-input__inner {
  border-radius: 2px;
}
.el-textarea__inner {
  border-radius: 2px;
  border-color: #D6D9D9;
}
.el-textarea__inner:focus {
  border-color: #34B7B9;
}
/*****************el-select******************/
.el-select:hover .el-input__inner {
  border: 1px solid #D6D9D9;
  border-radius: 2px;
}
.el-select .el-input .el-select__caret {
  color: #D6D9D9;
}
.el-select .el-input.is-focus .el-input__inner {
  border-color: #D6D9D9;
}
.el-select .el-input__inner:focus {
  border-color: #34B7B9;
}
.el-select-dropdown__item.selected {
  color: #34B7B9;
}
.el-select-dropdown__item.hover {
  color: #fff;
  background-color: #34B7B9;
}
.el-select-dropdown__item:hover {
  color: #fff;
  background-color: #34B7B9;
}
/*****************el-checkbox******************/
.el-checkbox__inner {
  border-color: #D6D9D9;
}
.el-checkbox__inner:hover {
  border-color: #34B7B9;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #34B7B9;
  border-color: #34B7B9;
  color: #fff;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #34B7B9;
  border-color: #34B7B9;
  color: #fff;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #34B7B9;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #34B7B9;
}
/*****************el-radio******************/
.el-radio__inner:hover {
  border-color: #34B7B9;
}
.el-radio__input.is-checked + .el-radio__label {
  color: #34B7B9;
}
.el-radio__input.is-checked .el-radio__inner {
  background-color: #34B7B9;
  border-color: #34B7B9;
  color: #fff;
}
/*****************el-pagination******************/
.el-pager li:hover {
  color: #34B7B9;
}
.el-pager li.active {
  color: #fff;
  background-color: #34B7B9;
  border-radius: 4px;
}
.el-pager li.active:hover {
  color: #fff;
}
.el-pagination button:hover {
  color: #34B7B9;
}
.el-pagination__sizes .el-input .el-input__inner:hover {
  border-color: #34B7B9;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #34B7B9;
}
.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
  color: #fff;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #34B7B9;
}
/*****************el-dialog******************/
.el-dialog {
  border-radius: 8px;
}
.el-message-box {
  width: 560px;
  height: 246px;
  background: #FFFFFF;
  opacity: 1;
  border-radius: 8px;
  padding: 20px;
}
.el-message-box .el-message-box__header {
  display: none;
}
.el-message-box .el-message-box__btns {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-message-box .el-message-box__btns .el-button {
  border: 1px solid #34B7B9;
  color: #34B7B9;
  font-weight: normal;
  width: 78px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-message-box .el-message-box__btns .el-button--default.el-button--primary {
  color: #fff;
  background: #34B7B9;
}
.el-message-box .el-message-box__content {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #666666;
}
.el-message-box .el-message-box__status {
  display: none;
}
